.cover__link-overlay {
  display: block;
  position: relative;
  max-width: 100%;
  min-height: 640px;
  text-decoration: none;
}

.cover__link-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url(../../../images/cover-trains.jpg);
  background-size: cover;
  opacity: 0.8;
}

.cover__link-overlay:hover::before {
  opacity: 0.3;
}

@media screen and (min-width: 1280px) {
  .cover__link-overlay::before  {
    margin-left: 48px;
    margin-right: 48px;
  }
  .cover__link-overlay {
    min-height: 740px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link-overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 400px) {
  .cover__link-overlay {
    min-height: 200px;
  }
}
