.header__lang-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74px;
  margin: 46px 48px 0 0;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__lang-container{
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-container{
    margin-top: 30px;
    margin-right: 16px;
    width: 64px;
  }
}
